<li class="separator acl-write"></li>
<li id="ep_hljs_li" class="acl-write">
    <select id="ep_hljs_select"
            aria-label="Syntax language"
            data-l10n-id="ep_hljs.label"
            data-l10n-aria-label="true">
        <option value="auto" data-l10n-id="ep_hljs.auto">Auto-detect</option>
        <option value="off" data-l10n-id="ep_hljs.off">Off</option>
        <option value="javascript">JavaScript</option>
        <option value="typescript">TypeScript</option>
        <option value="python">Python</option>
        <option value="java">Java</option>
        <option value="c">C</option>
        <option value="cpp">C++</option>
        <option value="csharp">C#</option>
        <option value="go">Go</option>
        <option value="ruby">Ruby</option>
        <option value="rust">Rust</option>
        <option value="php">PHP</option>
        <option value="bash">Bash</option>
        <option value="sql">SQL</option>
        <option value="json">JSON</option>
        <option value="yaml">YAML</option>
        <option value="xml">XML</option>
        <option value="html">HTML</option>
        <option value="css">CSS</option>
        <option value="markdown">Markdown</option>
    </select>
</li>
