<p class="ep_syntax_highlighting_user_setting">
  <label>
    <input type="checkbox" id="ep_syntax_highlighting_user_enabled" checked>
    <span data-l10n-id="ep_syntax_highlighting.user_enable">Highlight syntax in pads</span>
  </label>
</p>
